html,body{
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
  font-family: 'Avenir';
  overflow-x: hidden;
}
@mixin card($height: 736px, $width: 1000px, $background: white){
  height: $height;
  width: $width;
  background-color: $background;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.064);
  border-radius: 7px;
  padding: 20px;
  padding-top: 40px;
  z-index: 10;
}
@mixin button($background: #00CB79, $color: white,$size: 1.2em){
  border-radius: 30px;
  border: none;
  color: $color;
  background-color: $background;
  padding: 15px;
  font-size: $size;
}
.btn{
  @include button;
}
.btn:hover{
  @include button($background: #ECECEC, $color: #00CB79);
}
input{
  border-radius: 5px;
  font-size: 1.0em;
  border: 4px solid #444444;
  padding: 5px;
}
.home{
  background-color: #ECECEC;
  display: grid;
  justify-content: center;
  grid-template-rows: [header-s] 218px [header-e card-s] [card-e];
  position: relative;
}
.header{
  align-self: center;
  display: grid;
  color: #ECECEC;
  h1{

      z-index: 10;
  }
  p{
      z-index: 10;
  }
  .header-skew{
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
    position: absolute;
    height: 600px;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 1;
    background-color: #444444;
  }
  .header-skew-border{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 610px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 27%, 0 51%);
clip-path: polygon(0 0, 100% 0, 100% 27%, 0 51%);
    background-color: #00CB79;
  }
}
.card{
  @include card;
  .card-inputs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    justify-items: center;
    label{
    }
    .input{
      display: grid;
      grid-template-columns: 26px 125px;
    }
    .input-title{
      grid-column: 2/3;
      text-align: center;
    }
  }
}
.header{
  font-family: 'Montserrat';
  h1{
    text-align: center;
    font-weight: 500;
    line-height: 44px;
  }
  p{
    text-align: center;
    color: RGBA(255,255,255,0.6);
    font-weight: 300;
    line-height: 19px;
  }
}
