html,body{
  margin: 0;
  padding: 0;
  background-color: #ECECEC;
  font-family: 'Avenir';
  overflow-x: hidden;
}
@mixin card($height: 900px, $width: 1000px, $background: white){
  /*height: $height;*/
  width: $width;
  background-color: $background;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,0.064);
  border-radius: 7px;
  padding: 20px;
  padding-top: 40px;
  z-index: 10;
}
@mixin button($background: #00CB79, $color: white,$size: 1.2em){
  border-radius: 30px;
  border: none;
  color: $color;
  background-color: $background;
  padding: 15px;
  font-size: $size;
}
.btn{
  @include button;
}
.btn:hover{
  @include button($background: #ECECEC, $color: #00CB79);
}
.home{
  background-color: #ECECEC;
  display: grid;
  justify-content: center;
  grid-template-rows: [header-s] 218px [header-e card-s] [card-e];
  position: relative;
}
.header{
  align-self: center;
  display: grid;
  color: #ECECEC;
  h1{

      z-index: 10;
  }
  p{
      z-index: 10;
  }
  .header-skew{
    clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
    position: absolute;
    height: 600px;
    top: 0px;
    left: 0px;
    width: 100vw;
    z-index: 1;
    background-color: #444444;
  }
  .header-skew-border{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 610px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 27%, 0 51%);
clip-path: polygon(0 0, 100% 0, 100% 27%, 0 51%);
    background-color: #00CB79;
  }
}
.card{
  @include card;
  .card-inputs{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 120px;
    justify-items: center;
    label{
    }
    font-family: 'Montserrat';
    .input-number{
      background-color: #00CB79;
      color: white;
      line-height: 24px;
      padding-top: 1px;
      border-radius: 50%;
      text-align: center;
      height: 26px;
      width: 26px;
    }
    .input{
      display: grid;
      grid-column-gap: 8px;
      height: 47px;
      grid-template-columns: 26px 125px;
      input{
        border: none;
        font-size: 15px;
        padding: 4px 0;
        text-align: center;
        border-bottom: 1px solid #E3E3E3;
        margin-bottom: 1px;
        &:focus{
          transition: all .3s ease;
          outline: none;
          border-bottom: 1px solid #00CB79;
          margin-bottom: 0px;
        }
      }
    }

    .input-title{
      background-color: white;
      grid-column: 2/3;
      text-align: center;
      color: #E3E3E3;
    }
  }
  .card-generate{
    @include button;
    color: white;
    background-color: #00CB79;
    transform: translateY(50%);
    &:hover{
      background-color: #ECECEC;
      color: #00CB79;
    }
  }
  .card-clear{
    @include button;
    background-color: red;
    transform: translateY(50%);
    &:hover{
      background-color: #ECECEC;
      color: red;
    }
  }
  .card-content{
    width: 100%;
    height: 297px;
    background-color: #F2F2F2;
    border-radius: 20px;
    z-index: -1;
    p{
      padding: 50px 47px;
      margin: 0;
    }
    margin-bottom: 84px;
  }
}
.header{
  font-family: 'Montserrat';
  h1{
    text-align: center;
    font-weight: 500;
    line-height: 44px;
  }
  p{
    text-align: center;
    color: RGBA(255,255,255,0.6);
    font-weight: 300;
    line-height: 19px;
  }
}
@mixin button(){
  border: none;
  font-size: 1.5em;
  padding: 20px;
  border-radius: 20px;
  &:focus{
    outline: none;
  }
}
